@model Titulacion.Clases.Get.CarreraDetalles

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>CarreraDetalles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JefeDpto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JefeDpto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Carreras" class="btn btn-info">Volver</a>
    <a asp-action="Editar" asp-route-id="@Model.IdCarrera" class="btn btn-warning">Editar</a>
</div>
