@using Titulacion.Clases;
@model Paginacion<Titulacion.Clases.Get.EstadoGenral>
@{
    ViewData["Title"] = "VistaGeneral";
    List<SelectListItem> pasos = ViewBag.pasos;
    List<SelectListItem> estados = ViewBag.estados;
    int paso = ViewBag.paso == null ? 0 : ViewBag.paso;
    int estado = ViewBag.estado == null ? 0 : ViewBag.estado;
}

<h1>VistaGeneral</h1>

<form asp-action="VistaGeneral" class="d-flex gap-2" method="get">
    <div class="form-group">
        <label for="buscar">Buscar: </label>
        <input type="text" id="buscar" name="buscar" value="@ViewBag.buscar" />
    </div>
    <div class="form-group">
        <label for="buscar">Estado: </label>
        <select class="form-select-sm" name="estado" id="estado" asp-items="@estados">
        </select>
    </div>
    <div class="form-group">
        <label for="buscar">Paso: </label>
        <select class="form-select-sm" name="paso" id="paso" asp-items="@pasos">
        </select>
    </div>
    <button type="submit" class="btn btn-info">Buscar</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                No. Control
            </th>
            <th>
                SNCI
            </th>
            <th>
                CNI
            </th>
            <th>
                CL
            </th>
            <th>
                CAII
            </th>
            <th>
                RP
            </th>
            <th>
                RPS
            </th>
            <th>
                ST
            </th>
            <th>
                PRO
            </th>
            <th>
                SL
            </th>
            <th>
               LP
            </th>
            <th>
                AS
            </th>
            <th>
                OI
            </th>
            <th>
               CURP
            </th>
            <th>
                RFC
            </th>
            <th>
                CB
            </th>
            <th>
                Estado
            </th>
            <th>
                Fecha de Titulacion
            </th>
            <th>
                Fecha de Vencimiento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @switch (item.Estado)
                {
                    case 0:
                        <td class="bg-warning">@Html.ActionLink(item.Nombre, "GestionarDocumentos", "Pasos", new { noControl = item.NoControl, nombre = item.Nombre }, new { target = "_blank" })</td>
                        break;
                    case 1:
                        <td class="bg-success">@Html.ActionLink(item.Nombre, "GestionarDocumentos", "Pasos", new { noControl = item.NoControl, nombre = item.Nombre }, new { target = "_blank" })</td>
                        break;
                    case 2:
                        <td class="bg-danger">@Html.ActionLink(item.Nombre, "GestionarDocumentos", "Pasos", new { noControl = item.NoControl, nombre = item.Nombre }, new { target = "_blank" })</td>
                        break;
                    case 3:
                        <td class="bg-info">@Html.ActionLink(item.Nombre, "GestionarDocumentos", "Pasos", new { noControl = item.NoControl, nombre = item.Nombre }, new { target = "_blank" })</td>
                        break;
                }
                @switch (item.Estado)
                {
                    case 0:
                        <td class="bg-warning">@item.NoControl</td>
                        break;
                    case 1:
                        <td class="bg-success">@item.NoControl</td>
                        break;
                    case 2:
                        <td class="bg-danger">@item.NoControl</td>
                        break;
                    case 3:
                        <td class="bg-info">@item.NoControl</td>
                        break;
                }
                @if (item.Estado == 1)
                {
                    for (int i = 0; i < 15; i++)
                    {
                        <td class="bg-success"></td>
                    }
                } else
                {
                    @switch (item.Scni)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Cni)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Cl)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Caii)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Rp)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Rps)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.St)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Pro)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Sl)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Lp)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Asnc)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Oi)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Curp)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Rfc)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Cb)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                }
                @switch (item.Estado)
                {
                    case 0:
                        <td class="bg-warning">
                            <p class="m-0">En proceso</p>
                        </td>
                        break;
                    case 1:
                        <td class="bg-success">
                            <p class="m-0">Titulado</p>
                        </td>
                        break;
                    case 2:
                        <td class="bg-danger">
                            <p class="m-0">Cancelado</p>
                        </td>
                        break;
                    case 3:
                        <td class="bg-info">
                            <p class="m-0">Reprogramado</p>
                        </td>
                        break;
                }
                @switch (item.Estado)
                {
                    case 0:
                        <td class="bg-warning">@item.FechaTitulacion?.ToString()</td>
                        break;
                    case 1:
                        <td class="bg-success">@item.FechaTitulacion?.ToString()</td>
                        break;
                    case 2:
                        <td class="bg-danger">@item.FechaTitulacion?.ToString()</td>
                        break;
                    case 3:
                        <td class="bg-info">@item.FechaTitulacion?.ToString()</td>
                        break;
                }
                @if (item.FechaTitulacion != null)
                {
                    <td class="bg-success">@item.FechaTitulacion?.ToString()</td>
                } else
                {
                    <td class="bg-warning"></td>
                }

                
        </tr>
}
    </tbody>
</table>



<script>
    document.addEventListener('DOMContentLoaded', () => {
        const selectPasos = document.getElementById('paso')
        selectPasos.selectedIndex = @paso;
        const selectEstado = document.getElementById('estado')
        selectEstado.selectedIndex = @estado;
    })
</script>