@using Titulacion.Clases;
@model Paginacion<Titulacion.Clases.Get.EstadoGenral>
@{
    ViewData["Title"] = "VistaGeneral";
    List<SelectListItem> pasos = ViewBag.pasos;
    List<SelectListItem> estados = ViewBag.estados;
    List<SelectListItem> carreras = ViewBag.carreras;
    List<SelectListItem> departamentos = ViewBag.departamentos;
    int paso = ViewBag.paso == null ? 0 : ViewBag.paso;
    int estado = ViewBag.estado == null ? 0 : ViewBag.estado;
    int carrera = ViewBag.carrera == null ? 0 : ViewBag.carrera;
    int departamento = ViewBag.departamento == null ? 0 : ViewBag.departamento;
}

<h1>VistaGeneral</h1>

<form asp-action="VistaGeneral" class="d-flex gap-2" method="get">
    <div class="form-group">
        <label for="buscar">Buscar: </label>
        <input type="text" id="buscar" name="buscar" value="@ViewBag.buscar" />
    </div>
    <div class="form-group">
        <label for="buscar">Estado: </label>
        <select class="form-select-sm" name="estado" id="estado" asp-items="@estados">
        </select>
    </div>
    <div class="form-group">
        <label for="buscar">Paso: </label>
        <select class="form-select-sm" name="paso" id="paso" asp-items="@pasos">
        </select>
    </div>
    <div class="form-group">
        <label for="buscar">Departamento: </label>
        <select class="form-select-sm" name="departamento" id="departamento" asp-items="@departamentos">
        </select>
    </div>
    <div class="form-group">
        <label for="buscar">Carreras: </label>
        <select class="form-select-sm" name="carrera" id="carrera" asp-items="@carreras">
        </select>
    </div>
    <button type="submit" class="btn btn-info">Buscar</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                No. Control
            </th>
            <th>
                Carrera
            </th>
            <th>
                SNCI
            </th>
            <th>
                CNI
            </th>
            <th>
                CL
            </th>
            <th>
                CAII
            </th>
            <th>
                RP
            </th>
            <th>
                RPS
            </th>
            <th>
                ST
            </th>
            <th>
                PRO
            </th>
            <th>
                SL
            </th>
            <th>
               LP
            </th>
            <th>
                AS
            </th>
            <th>
                OI
            </th>
            <th>
               CURP
            </th>
            <th>
                RFC
            </th>
            <th>
                CB
            </th>
            <th>
                Estado
            </th>
            <th>
                Fecha de Titulacion
            </th>
            <th>
                Fecha de Vencimiento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @if(item.FechaTitulacion != null)
                {
                    <td class="bg-success">@Html.ActionLink(item.Nombre, "GestionarDocumentos", "Pasos", new { noControl = item.NoControl, nombre = item.Nombre }, new { target = "_blank" })</td>
                } else
                {
                    <td class="bg-warning">@Html.ActionLink(item.Nombre, "GestionarDocumentos", "Pasos", new { noControl = item.NoControl, nombre = item.Nombre }, new { target = "_blank" })</td>
                }
                @if (item.FechaTitulacion != null)
                {
                    <td class="bg-success">@item.NoControl</td>
                }
                else
                {
                    <td class="bg-warning fs-6">@item.NoControl</td>
                }
                @if (item.FechaTitulacion != null)
                {
                    switch (item.idCarrera)
                    {
                        case 1:
                            <td class="bg-success">SIS</td>
                            break;
                        case 2:
                            <td class="bg-success">INF</td>
                            break;
                        case 3:
                            <td class="bg-success">SIS</td>
                            break;
                        case 4:
                            <td class="bg-success">ARQ</td>
                            break;
                        case 5:
                            <td class="bg-success">CT</td>
                            break;
                        case 6:
                            <td class="bg-success">ADMON</td>
                            break;
                        case 7:
                            <td class="bg-success">IND</td>
                            break;
                        case 8:
                            <td class="bg-success">GES</td>
                            break;
                    }
                }
                else
                {
                    switch (item.idCarrera)
                    {
                        case 1:
                            <td class="bg-warning">SIS</td>
                            break;
                        case 2:
                            <td class="bg-warning">INF</td>
                            break;
                        case 3:
                            <td class="bg-warning">SIS</td>
                            break;
                        case 4:
                            <td class="bg-warning">ARQ</td>
                            break;
                        case 5:
                            <td class="bg-warning">CT</td>
                            break;
                        case 6:
                            <td class="bg-warning">ADMON</td>
                            break;
                        case 7:
                            <td class="bg-warning">IND</td>
                            break;
                        case 8:
                            <td class="bg-warning">GES</td>
                            break;
                    }
                }
                @if (item.FechaTitulacion != null)
                {
                    for (int i = 0; i < 15; i++)
                    {
                        <td class="bg-success"></td>
                    }
                } else
                {
                    @switch (item.Scni)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Cni)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Cl)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Caii)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Rp)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Rps)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.St)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Pro)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Sl)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Lp)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Asnc)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Oi)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Curp)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Rfc)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                    @switch (item.Cb)
                    {
                        case 0:
                            <td class="bg-light"></td>
                            break;
                        case 1:
                            <td class="bg-secondary"></td>
                            break;
                        case 2:
                            <td class="bg-danger"></td>
                            break;
                        case 3:
                            <td class="bg-warning"></td>
                            break;
                    }
                }
                @switch (item.Estado)
                {
                    case 0:
                        <td class="bg-warning">
                            <p class="m-0">En proceso</p>
                        </td>
                        break;
                    case 1:
                        <td class="bg-success">
                            <p class="m-0">Titulado</p>
                        </td>
                        break;
                    case 2:
                        <td class="bg-danger">
                            <p class="m-0">Cancelado</p>
                        </td>
                        break;
                    case 3:
                        <td class="bg-info">
                            <p class="m-0">Reprogramado</p>
                        </td>
                        break;
                }
                @if (item.FechaTitulacion != null)
                {
                    <td class="bg-success">@item.FechaTitulacion?.ToString()</td>
                }
                else
                {
                    <td class="bg-warning"></td>
                }
                @if (item.FechaTitulacion != null)
                {
                    <td class="bg-success"></td>
                } else
                {
                    <td class="bg-warning">@item.FechaVencimiento?.ToString()</td>
                }

                
        </tr>
}
    </tbody>
</table>

<div>
    @if (Model.MostrarBotones)
    {
        @if (Model.PaginaInicio != 1)
        {
            <a asp-action="Docentes" asp-route-numPag="1" asp-route-buscar="@ViewBag.buscar" asp-route-estado="@estado" asp-route-paso="@paso" asp-route-carrera="@carrera" asp-route-departamento="@departamento" class="btn btn-primary">Inicio</a>
        }
        @if (Model.PaginasAnteriores)
        {
            <a asp-action="Docentes" asp-route-numPag="@(Model.PaginaInicio - 1)" asp-route-buscar="@ViewBag.buscar" asp-route-estado="@estado" asp-route-paso="@paso" asp-route-carrera="@carrera" asp-route-departamento="@departamento" class="btn btn-primary">Anteior</a>
        }
        @for (var i = Model.BotonesAnteriores(); i <= Model.BotonesSiguientes(); i++)
        {
            var paginaActiva = (Model.PaginaInicio == i) ? "active" : "";
            <a asp-action="Docentes" asp-route-numPag="@i" asp-route-buscar="@ViewBag.buscar" asp-route-estado="@estado" asp-route-paso="@paso" asp-route-carrera="@carrera" asp-route-departamento="@departamento" class="btn btn-outline-primary @paginaActiva">@i</a>
        }
        @if (Model.PaginasPosteriores)
        {
            <a asp-action="Docentes" asp-route-numPag="@(Model.PaginaInicio + 1)" asp-route-buscar="@ViewBag.buscar" asp-route-estado="@estado" asp-route-paso="@paso" asp-route-carrera="@carrera" asp-route-departamento="@departamento" class="btn btn-primary">Siguiente</a>
        }
        @if (Model.PaginaInicio != Model.PaginasTotales)
        {
            <a asp-action="Docentes" asp-route-numPag="@Model.PaginasTotales" asp-route-buscar="@ViewBag.buscar" asp-route-estado="@estado" asp-route-paso="@paso" asp-route-carrera="@carrera" asp-route-departamento="@departamento" class="btn btn-primary">Final</a>
        }
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const selectPasos = document.getElementById('paso')
        selectPasos.selectedIndex = @paso;
        const selectEstado = document.getElementById('estado')
        selectEstado.selectedIndex = @estado;
        const selectCarrera = document.getElementById('carrera')
        selectCarrera.selectedIndex = @carrera;
        const selectDepartamento = document.getElementById('departamento')
        selectDepartamento.selectedIndex = @departamento;
    })
</script>