@using Titulacion.Clases;
@model Paginacion<Titulacion.Clases.Get.Docente>;

@{
    ViewData["Title"] = "Docentes";
}

<h1>Docentes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Docentes" method="get">
    <div class="form-group">
        <label for="buscar">Buscar: </label>
        <input type="text" id="buscar" name="buscar" value="@ViewBag.buscar"/>
    </div>
    <button type="submit" class="btn btn-info">Buscar</button>
</form>
<a asp-action="Docentes" asp-route-numPag="1" asp-route-buscar="" class="btn btn-outline-danger">Eliminar filtro</a>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Cedula
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @if (Model.PaginaInicio != 1)
    {
        <a asp-action="Docentes" asp-route-numPag="1" asp-route-buscar="@ViewBag.buscar"  class="btn btn-primary">Inicio</a>
    }
    @if (Model.PaginasAnteriores)
    {
        <a asp-action="Docentes" asp-route-numPag="@(Model.PaginaInicio - 1)" asp-route-buscar="@ViewBag.buscar" class="btn btn-primary">Anteior</a>
    }
    @for (var i = Model.BotonesAnteriores(); i <= Model.BotonesSiguientes(); i++)
    {
        var paginaActiva = (Model.PaginaInicio == i) ? "active" : "";
        <a asp-action="Docentes" asp-route-numPag="@i" asp-route-buscar="@ViewBag.buscar" class="btn btn-outline-primary @paginaActiva">@i</a>
    }
    @if (Model.PaginasPosteriores)
    {
        <a asp-action="Docentes" asp-route-numPag="@(Model.PaginaInicio + 1)" asp-route-buscar="@ViewBag.buscar" class="btn btn-primary">Siguiente</a>
    }
    @if (Model.PaginaInicio != Model.PaginasTotales)
    {
        <a asp-action="Docentes" asp-route-numPag="@Model.PaginasTotales" asp-route-buscar="@ViewBag.buscar" class="btn btn-primary">Final</a>
    }
    
</div>