@model Titulacion.Clases.Get.ReporteDocente

@{
    ViewData["Title"] = "Reporte Individual";
    string[] nombres = ViewBag.nombres;
    string desde = ViewBag.desde;
    string hasta = ViewBag.hasta;
}

<h1>Reporte Individual</h1>

<form class="form" method="post" asp-action="ReporteIndividual">
    <div class="form-group">
        <label class="control-label">Nombre</label>
        <input asp-for="Nombre" list="nombres" class="form-control" />
        <datalist id="nombres">
            @foreach (string nombre in nombres)
            {
                <option>@nombre</option>
            }
        </datalist>
    </div>
    <div class="form-group">
        <label class="control-label">Desde</label>
        <input asp-for="desde" class="form-control" type="date" value="@desde" />
    </div>
    <div class="form-group">
        <label class="control-label">Hasta</label>
        <input asp-for="hasta" class="form-control" type="date" value="@hasta" />
    </div>
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>

@if(Model != null)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cedula)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCarrera)
            </dt>
            @switch (Model.IdCarrera)
            {
                case 1:
                    <dd class="col-sm-10">SISTEMAS Y COMPUTACIÓN</dd>
                    break;
                case 2:
                    <dd class="col-sm-10">INGENIERÍA INDUSTRIAL</dd>
                    break;
                case 3:
                    <dd class="col-sm-10">CIENCIAS ECONÓMICO-ADMINISTRATIVAS</dd>
                    break;
                case 4:
                    <dd class="col-sm-10">CIENCIAS DE LA TIERRA</dd>
                    break;
                case 5:
                    <dd class="col-sm-10">INGENIERÍA QUÍMICA Y BIOQUÍMICA</dd>
                    break;
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VecesPrecidente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VecesPrecidente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VecesSecretario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VecesSecretario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VecesVocal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VecesVocal)
            </dd>
        </dl>
    </div>
}