@model IEnumerable<Titulacion.Clases.Get.ReporteDocente>

@{
    ViewData["Title"] = "ReporteGrupal";
    string desde = ViewBag.desde;
    string hasta = ViewBag.hasta;
    string buscar = ViewBag.buscar;
    int carrera = ViewBag.carrera == null ? 0 : ViewBag.carrera;
    int departamento = ViewBag.departamento == null ? 0 : ViewBag.departamento;
    List<SelectListItem> departamentos = ViewBag.departamentos;
    List<SelectListItem> carreras = ViewBag.carreras;
}

<h1>Reporte Grupal</h1>
<form asp-action="ReporteGrupal" class="d-flex gap-2" method="get">
    <div class="form-group">
        <label for="buscar">Buscar: </label>
        <input type="text" id="buscar" name="buscar" value="@ViewBag.buscar" />
    </div>
    <div class="form-group">
        <label for="buscar">Departamento: </label>
        <select class="form-select-sm" name="departamento" id="departamento" asp-items="@departamentos">
        </select>
    </div>
    <!--
    <div class="form-group">
        <label for="buscar">Carrera: </label>
        <select class="form-select-sm" name="carrera" id="carrera" asp-items="@carreras">
        </select>
    </div>
    -->
    <div class="form-group">
        <label for="buscar">Desde: </label>
        <input class="form-select-sm" name="desde" id="desde" type="date" value="@desde" />
    </div>
    <div class="form-group">
        <label for="buscar">Hasta: </label>
        <input class="form-select-sm" name="hasta" id="hasta" type="date" value="@hasta" />
    </div>
    <button type="submit" class="btn btn-info">Buscar</button>
</form>

<p>
    <button id="btnCopiar" class="btn btn-primary">Copiar tabla</button>
</p>
<table class="table" id="miTabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.IdCarrera)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.IdDpto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VecesPrecidente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VecesSecretario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VecesVocal)
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <!--
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCarrera)
                    </td>
                    -->
                    @switch (item.IdDpto)
                    {
                        case 1:
                            <td>INFOSIS</td>
                        break;
                        case 2:
                            <td>IND</td>
                            break;
                        case 3:
                            <td>ECOADMIN</td>
                            break;
                        case 4:
                            <td>ARQ</td>
                            break;
                        case 5:
                            <td>BIOQ</td>
                            break;
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.VecesPrecidente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VecesSecretario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VecesVocal)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        //const selectCarrera = document.getElementById('carrera')
        //selectCarrera.selectedIndex = @carrera;
        const selectDepartamento = document.getElementById('departamento')
        selectDepartamento.selectedIndex = @departamento;

        var clipboard = new ClipboardJS('#btnCopiar', {
            text: function () {
                var tabla = document.getElementById('miTabla');
                var textoTabla = '';
                for (var i = 0; i < tabla.rows.length; i++) {
                    var row = tabla.rows[i];
                    for (var j = 0; j < row.cells.length; j++) {
                        textoTabla += row.cells[j].innerText;
                        if (j < row.cells.length - 1) {
                            textoTabla += '\t';
                        }
                    }
                    textoTabla += '\n';
                }
                return textoTabla;
            }
        });

        clipboard.on('success', function (e) {
            alert('La tabla se ha copiado al portapapeles');
        });

        clipboard.on('error', function (e) {
            alert('Error al copiar la tabla');
        });
    })
</script>