@model IEnumerable<Titulacion.Clases.Get.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h1>Departamentos</h1>

<p>
    <a asp-controller="Departamento" asp-action="Insertar" class="btn btn-success">Crear nuevo departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                <a asp-controller="Departamento" asp-action="editar" asp-route-id=@item.id class="btn btn-warning" onclick="editar(@item.id)"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-danger" onclick="handleDelete(@item.id)" ><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-action="Eliminar" id="formEliminar" method="post">
    <input type="hidden" name="id" id="idEliminar">
</form>

<script>
    const handleDelete = (id) => {
        form = eliminar(id)
        confirmar("Desea, eliminar el departamento?", "Esta apunto de eliminar un departamento", "Eliminar", "Eliminado", form)
    }
</script>